<div style="height: 100%; display: flex; flex-direction: column">

  @if(remult.authenticated())
  {
  <mat-toolbar color="primary" style="flex-shrink: 0">
    <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">{{ currentTitle() }}</span>
    <ng-container *ngIf="!remult.authenticated()">
      <button mat-stroked-button class="toolbar-button" (click)="signIn()">
        {{ terms.signIn }}
      </button>
    </ng-container>
    <ng-container *ngIf="remult.authenticated()">
      <button mat-stroked-button class="toolbar-button" [matMenuTriggerFor]="menu">
        {{ remult.user!.name }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateInfo()">
          {{ terms.updateInfo }}
        </button>
        <button mat-menu-item (click)="changePassword()">
          {{ terms.changePassword }}
        </button>
        <button mat-menu-item (click)="signOut()">{{ terms.signOut }}</button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
  }

  <mat-sidenav-container class="app-sidenav-container">

    @if(remult.authenticated())
    {
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10 no-print" [opened]="!uiService.isScreenSmall()"
      [mode]="uiService.isScreenSmall() ? 'over' : 'side'">
      <div class="sidebar-header" (click)="openBusinessWebSite()">
        <img src="./assets/logo.png" alt="Logo" class="sidebar-logo">
      </div>
      <mat-nav-list role="list">
        <ng-container *ngFor="let group of sidebarGroups">
          <ng-container *ngIf="getRoutesForGroup(group.key).length > 0">
            <div class="sidebar-group-label">{{ group.label }}</div>
            <a mat-list-item *ngFor="let m of getRoutesForGroup(group.key)"
              routerLinkActive="active-route" [routerLink]="m.path"
              (click)="routeClicked()" class="sidebar-item">
              <mat-icon matListItemIcon>{{ m.data?.['icon'] || 'circle' }}</mat-icon>
              <div class="sidebar-item-text">
                <span class="sidebar-item-name">{{ routeName(m) }}</span>
                <span class="sidebar-item-desc" *ngIf="m.data?.['description']">{{ m.data?.['description'] }}</span>
              </div>
            </a>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    }

    <div class="app-sidenav-content">
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-container>
</div>